body {
  background-color: #e6bf54;
}
.chessboard {
  height: 640px;
  width: 640px;
  margin: auto;
}
.box1 {
  height: 80px;
  width: 80px;
  background-color: black;
  float: left;
  color: white;
  font-size: 62px;
  text-align: center;
}
.box2 {
  height: 80px;
  width: 80px;
  background-color: white;
  float: left;
  color: black;
  font-size: 62px;
  text-align: center;
}
